@charset "utf-8";

.cart{
	margin-bottom: 20px;
}
.cart-title{
	height: 20px;
    margin-top:20px;
	margin-bottom: 15px;
}
.cart-title h1{
    font-size: 16px;
    color: #575757;
    font-weight: bold;
    padding-right: 20px;
    white-space: nowrap;
}

.cart-title h1 span {
    padding: 0 5px;
    color: #1cbfda;
}

.cart-head {
    border: #1cbfda solid 1px;
    height: 42px;
}

.cart-head table,.cart-list table,.cart-all-box table{
	width: 100%;
}

.cart-head table th {
    border-bottom: none;
}

.cart-head table th {
	vertical-align: middle;
    height: 42px;
    color: #fff;
    font-weight: bold;
    font-family: "宋体";
    background: #1cbfda;
}

.cart-head table .td-01 {
    padding: 0 10px 0 20px;
    width: 13px;
}

.cart-head table .td-02 {
    text-align: left;
    width: 78px;
    padding-right: 20px;
}

.cart-head table .td-03 {
    text-align: left;
}

.cart-head table .td-04 {
	text-align: center;
    width: 180px;
}

.cart-head table .td-05 {
	text-align: center;
    width: 180px;
}

.cart-head table .td-06 {
	text-align: center;
    width: 180px;
    line-height: 18px;
}

.cart-head table .td-07 {
	text-align: center;
    width: 200px;
}

.cart-list{
	border: #e5e5e5 solid 1px;
    margin-bottom: 10px;
}

.cart-list table td {
    padding: 20px 0;
    height: 78px;
    border-top: #e5e5e5 dashed 1px;
    text-align: center;
}

.cart-list table .td-01 {
    width: 13px;
}

.cart-list table .top-none td {
    border-top: none;
}

.cart-list table td.td-01 {
    padding: 20px 10px 20px 20px;
    vertical-align: top;
}

.cart-list table .td-02 {
    text-align: left;
    width: 78px;
    padding-right: 20px;
    vertical-align: top;
}

.cart-list table .td-02 a {
    display: block;
    border: #e5e5e5 solid 1px;
}

.cart-list table .td-02 img {
    width: 76px;
    height: 76px;
}

.cart-list table td.td-03 {
    vertical-align: top;
    line-height: 22px;
    padding-right: 20px;
    text-align: left;
}

.cart-list table .td-04 {
    width: 180px;
}

.cart-list table .td-04 .munber-box {
    width: 70px;
    height: 29px;
    padding: 0 22px;
    position: relative;
    margin: auto;
    line-height: 29px;
}

.cart-list table .td-04 .munber-box em.cut-btn {
    left: 2px;
    background-position: 0 0;
}

.cart-list table .td-04 .munber-box em.add-btn {
    right: -46px;
    background-position: -22px 0;
}

.cart-list table .td-04 .munber-box em {
    display: block;
    position: absolute;
    width: 22px;
    height: 27px;
    border: #e5e5e5 solid 1px;
    cursor: pointer;
    top: 0px;
    background: url(/resources/images/cart-icon.png) 0px 0px no-repeat #fafafa;
}

.cart-list table .td-04 .munber-box span {
    position: absolute;
    left: 120px;
    line-height: 29px;
}

.cart-list table .td-04 .munber-box input[type="text"] {
    width: 70px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border: #e5e5e5 solid;
    border-width: 1px 0;
    background: none;
    outline: none;
    font-size: 12px;
    position: absolute;
    left: 24px;
}

.cart-list table td.td-05 {
    color: #000;
    width: 180px;
}

.cart-list table .td-06 {
    width: 180px;
    line-height: 18px;
}

.cart-list table td.td-06 strong {
    font-size: 14px;
    color: #ef3f41;
    font-weight: normal;
}

.cart-list table .td-07 {
    width: 200px;
}

.cart-list table .td-07 .det-icon {
    display: block;
    margin: auto;
    width: 27px;
    height: 27px;
    background: url(/resources/images/cart-icon.png) -44px 0px no-repeat;
}



.cart-all-box{
	height: 60px;
    position: relative;
    border: #e5e5e5 solid 1px;
    left: 0;
    bottom: 0;
}

.cart-all-box table th {
    vertical-align: middle;
    height: 40px;
    font-weight: normal;
    text-align: center;
    background: #f5f5f5;
    border-bottom: #e5e5e5 solid 1px;
}

.cart-all-box table th {
    height: 58px;
    position: relative;
}

.cart-all-box table .td-01 {
    padding: 0 10px 0 20px;
    width: 13px;
}
.cart-all-box table .td-02 {
    text-align: left;
    width: 78px;
    padding-right: 20px;
    vertical-align: top;
}
.cart-all-box table th.td-02 {
    vertical-align: middle;
}
.cart-all-box .det-check {
    color: #3f3f3f;
    line-height: 30px;
}
.cart-all-box .money-box {
    padding-right: 190px;
    color: #3f3f3f;
}
.cart-all-box .money-box span {
    color: #ef3f41;
	padding-left: 500px;
}
.cart-all-box .money-box .all-money small {
    font-size: 18px;
    font-weight: bold;
}
.cart-all-box .money-box .all-money strong {
    font-size: 24px;
}
.cart-all-box .money-box .go-check {
    display: block;
    position: absolute;
    width: 166px;
    height: 60px;
    right: -1px;
    top: -1px;
    background: url(/resources/images/cart-icon.png) 0px -67px no-repeat;
}










